{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family:Arial;
	line-height:1.6;
	color:#333;
	background-color:#f4f4f4;
}

.hero{
	background-color:#007bff;
	color:rgb(249, 241, 241);
	padding:2rem;
	text-align:center;
}

table {
	width: 95%;
	border-collapse: collapse;
	border: 2px solid #8794a7;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0,0,0,3);
	margin: 20px auto;

}

.btn{
  padding: 6px 14px;
  border: 2px solid #0d6efd; 
  background-color: rgb(218, 206, 206);
  color: #0d6efd;
  border-radius: 40px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0d6efd;
  color: white;
  text-decoration: none;
}

th,td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

th{
	background-color: #007bff;
	color: white;
}

tr:nth-child(even){
	background-color: #f3f3f3;
}

tr:hover{
	background-color: #007bff;
	color: white;
}

td:nth-child(4),
td:nth-child(5){
	text-align: center;
}

td:nth-child(6){
	text-transform: capitalize;
}

th:last-child, td:last-child{
	border-radius: none;
}
